html{
    box-sizing: border-box;
}

*,*:before, *:after{
    box-sizing: inherit;
}

body,html{
    margin: 0;
    padding: 0;
}

button{
    cursor: pointer;
}

body{
    font-family: 'Segoe UI', sans-serif;
    background: lightblue;
    color: #212529;
}

h1{
    font-family: 'Comfortaa', cursive;
}

h2{
    font-weight: normal;
    font-size: 1.3em;
}

input{
    width: 300px;
    padding: .8em 1.2em;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .3em;
    outline: none;
    display: block;
    margin: 0 auto;

}

.center{
    text-align: center;
}

span{
    font-size: 1.2em;
}

a, button{
    background: #007bff;
    color: #fff;
    border: 2px solid #007bff;
    padding: 15px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 2px;
    width: 300px;
    text-decoration: none;

}

a:hover, button:hover{
    background: #fff;
    color: grey;
}

input[type=radio]{
    display: inline;
    width: fit-content;
    margin-right: 20px;
    margin-left: 5px;
}

.mr{
    margin-right: 35px;
}

input[type=checkbox]{
    display: inline;
    width: fit-content;
    margin-right: 8px;
}

*{
    /* border: 1px solid black; */
}

.chart-div{
    width: fit-content;
    margin-left: 5%;
    display: inline-block;
    float: left;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
}

.item-div{
    width: 2.2em;
    display: inline-block;
    margin-right: 8px;
}

.items{
    height: 10em;
}

.item-div-cal{
    vertical-align: bottom;
    display: inline-block;
    width: 2em;
}

.item-div-cal .items-cal{
    height: 2.5em;
    border-bottom: 1px solid grey;
    font-size: 0.8em;
    text-align: center;
}

.key{
    width: 15%;
    display: inline-block;
    margin-left: 25px;
}

.key-color{
    display: inline-block;
    height: 1em;
    width: 1em;
}

.key-label{
    display: inline-block;
    width: fit-content;
}

.key-label, .key-color{
    padding: 0;
    margin: 0;
}

.key-container{
    margin-bottom: 5px;
}

.key-label{
    font-size: 0.8em;
}

h3{
    margin-top: 0;
}
